/* Newsletter */
.newsletter-section {
  background: #493cc0;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

.newsletter-section h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.newsletter-section p {
  font-size: 14px;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.newsletter-form input {
  padding: 10px;
  width: 260px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.newsletter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background: #222;
  color: #fff;
  cursor: pointer;
}

.newsletter-form button:hover {
  background: #000;
}

/* Footer Links */
.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 50px 40px;
  background: #f5f5f5;
}

.footer-column h4 {
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #555;
}

.footer-column li:hover {
  color: #ff9800;
}

.social-icons span {
  font-size: 20px;
  margin-right: 12px;
  cursor: pointer;
}
.footer-bottom {
  text-align: center;
  padding: 15px;
  background: #222;
  color: #ccc;
  font-size: 13px;
}
