body{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../bg.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
display: flex;
  justify-content: center;
  align-items: center;
}
html, body, #root {
  height: 100%;
  margin: 0;
}
/* Full page container (like h-screen + flex center) */
/* .center-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
  */



.center-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

}

.login-box {
  width: 90%;
  max-width: 600px;
  min-width: 350px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  background: rgba(156, 163, 175, 0.2);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
  color: #d1d5db;
}

.login-title span {
  color: #030712;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 4px;
}

.btn {
  width: 50%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.register{
  padding-top:2px;
}
.para{
  font-size:small;
  font:semibold;
  color:
  rgb(39, 37, 37);
  font-weight: 600;
}
.register-now {
  color: rgb(82, 78, 78);
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.register-now:hover {
  color: green;
}
.forgot-btn{
    padding-top:2px;
}
.para1{
  font-size:x-small;
  font:semibold;
  color: rgb(39, 37, 37);
  font-weight: 600;
}
.click {
  color: rgb(82, 78, 78);
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.click:hover {
  color: green;
}
